<h2>Ballots 2020</h2>

<div>
<table>
<tr>
<th>Ballot Number</th>
<th>User Name</th>
<th>City</th>
<th>State</th>

<% @ballots.each do |ballot|%>
<tr>
    <td><%=ballot.id%><td>
    <td><%=ballot.voter.user_name%></td>
    <td><%=ballot.city%></td>
    <td><%=ballot.state%></td>
</tr>   
<%end%>
</table>
</div>

<a href='/voters/account'>Return Home</a>