<h3><%= "#{@voter.first_name} #{@voter.last_name}" %></h3>

<br><br>
<div>
    <span>To create a proposal for voting ballot please click <a href='/proposals/new'>Create Proposal</a></span>
    <span> <a href="/proposals/">View Proposals</span>
</div>
<br>
<div>
    To fill out ballot please click <a href='/voters/<%=@voter.id%>/ballot/new'>View or modify Ballot</a>
</div>
<br>

<!-- Edit voter option -->
<div>
    If you would like to edit your registration: <a href='/voters/<%=@voter.id%>/edit'>Edit Info </a>
</div>
<br>
<form action="/voters/<%=@voter.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>
<br><br>
<div>
    <a href="./logout">Log out</a>
</div>