<h3>Login</h3>
<form action="/voters/login" method="POST">
  <input type="text" name="user_name" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
<br>
<div>
<span>Would you like to <a href="./signup">Signup</a></span>
</div>