<form method="post" action="/proposals/">
<h3>Create Proposal for the Ballot</h3>
<div>
<label for="proposal_name">Enter Proposal Name:  </label>
<input type="text" id=proposal_name name="proposal[name]" required>
</div>

<div>
<label for="proposal_details">Proposal Details: </label>
<textarea id="proposal_details" name="proposal[details]" required></textarea>
</div>

<div>
<input type="submit" id="Create">
<span>Would you like to return home <a href="/voters/account">Return Home</a>?</span>
</div>