<!-- Show Webpage -->

<div>
<%= @proposal.name %>
</div>

<br>
<div>
<%= @proposal.details%>
</div>
<br>

<div>
<a href="/voters/account">Return Home</a>
</div>

<div>
<a href="/proposals/<%=@proposal.id%>/edit">Edit Proposal</a>
</div>